*{
    margin:5px;
    padding: 0;
    box-sizing: border-box;  
} 

body{
    font: normal 18px "Arial", sans-serif ;
    text-align: center;
    color: #1B4079;
    background-color: #92DCE5;
}



/* Nav Bar */
nav{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    opacity: 0.9;
}



/* Header */

header{
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    padding: 40px 100px 25px;
    color: #A93F55;
    z-index: 1;
}

header nav{
    display: flex;
}

.hero { 
    display: flex;
    justify-content: center;
    align-items: center;
}


/* footer */

/*body{
    margin: 1em;
    display: grid;
    grid: auto-flow min-content / repeat(12, 1fr);
    grid-gap: 1em;
} 

section{
    margin: 0 auto;
    padding: 1.5rem;
}

.background-image{
    background-size: cover;
}

header, footer{
    grid-column-start: 1;
    grid-column-end: 13;
}

aside, nav {
    grid-column-start: 1;
    grid-column-end: 5;
}

main{
    grid-column-start: 5;
    grid-column-end: 13;
    grid-row-start: 2;
    grid-row-end: 4;
}
 
#boba1, #boba4{
    grid-column-start: 1;
    grid-column-end: 4;
}


/*      (SAVE FOR FUTURE USE?)
.img-responsive{
    max-width: 100%;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-direction: row;
}
      (SAVE FOR FUTURE USE?)  */





/* Gallery 

gallery{
    padding: 20px;
    height: 350px;
    border-radius: 3px;
    background-clip: content-box;
    background-size: cover;
    background-position: center;
}
*/

/* Mobile Query */


@media screen and (min-width: 800px){
    .row{
        flex-direction: row;
    }

    .col{
        flex-basis: 50%;
    }
}